### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
out/

### IntelliJ - archivos generados/locales ###
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/caches/
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml

### Eclipse ###
.classpath
.project
.settings/
.factorypath
.apt_generated/
.apt_generated_test/
.springBeans
.sts4-cache/
.recommenders/
.externalToolBuilders/
bin/
.metadata/
tmp/
*.launch
*.pydevproject
.cproject
.autotools
.buildpath
.target
.tern-project
.texlipse
.cache-main
.scala_dependencies
.worksheet

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Sistema operativo ###
.DS_Store
Thumbs.db