### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
.metadata/
.recommenders/
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.buildpath
.target
.tern-project
.texlipse
.cache-main
.scala_dependencies
.worksheet

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store